*{
    padding:0;
    margin:0;
    
    
}

body{
    
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center
   
   
  
}

.main{

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;


}
.wrapper{

    display:hidden;
    

}
#inputcity{
    display:flex;
    flex-direction: column;
}